.custom-create-list {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.wrapper-container {
    max-width: 580px;
    margin: 0 auto;
}

.coffee-container {
    margin: 15px 14px;
}

.my-2 {
    margin: 10px 0;
}